.sidebar-link-wrapper {
    width: 20vw;
    display: block;
    background: #f4f4f4;
    box-sizing: border-box;
    padding: 1rem 2rem; 
	margin-right: 2rem;
  }  

.link-title {
    border-bottom: solid 1px #4c4c4c;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
}

.sidebar-link {
    display: block;
    color: #666;
    height: 2rem;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
}

.sidebar-link .icon-arrow-right {
    display: none
}

.sidebar-link.active .icon-arrow-right {
    display: inline-block
}

.sidebar-link.active, .sidebar-link:hover {
    font-weight: 600
}

.gap-lg {
    height: 2rem;
}

.icon-arrow-right:after {
    content: ' ';
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    width: 0.7rem;
    height: 0.7rem;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    transform: rotate(45deg)
}

.order-panel {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    
    .panel {
        flex: 1 1 0;
        min-width: 15rem;
        box-sizing: border-box;
    }
    
    @media (max-width: 768px) {
        .panel {
            flex: 1 1 calc(50% - 1rem);
        }
    }
    
    @media (max-width: 480px) {
        .panel {
            flex: 1 1 calc(100% - 1rem);
        }
    }
    
    .panel-title {
        margin: 0;
        padding: 0;
        background-color: #e0d9d1;
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        text-transform: uppercase;
		color: #000;
    }

    .non-bold-title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .panel-primary {
        border: 1px solid #e0d9d1;
        background-color: #f5f5f5;
        color: #252525;
    }

    .panel-body {
		padding: 1rem;
    }

	h3 {
		color: #252525;
		margin-top: 1rem;
	}

	.bold {
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
}


.legal-documents 
{
	padding-left: 2rem;
	
    .title-1 {
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 1rem !important;
    }
  
    .title-2 {
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 2rem !important;
      margin-bottom: 2rem;
    }
  
    h4 {
        font-size: 1rem !important;
        text-transform: uppercase !important;
        display: block !important;
        font-weight: 600;
        margin: 1rem 0;
    }

	h3 {
	    display: block;
	    font-family: 'Open Sans', sans-serif;
	    font-size: 1.5rem;
	    font-weight: 400;
	    text-transform: uppercase;
	    border-bottom: solid 1px #888;
	    padding-bottom: 1rem;
	    margin-bottom: 3rem;
	    margin-top: 4.5rem;
		color: #252525
	}

    p {
        margin: 0.5rem 0;
		font-weight: 500;

        & a {
            text-decoration: none;
            color: #006bb4;
        }
    }
}

.image-and-text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .image-and-text-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        width: 16rem;

        img {
            width: 100%;
        }

        .text-block {
            text-align: center;

            .name {
                font-family: "Work Sans", sans-serif;
                font-size: 0.875rem;
                font-weight: 700;
                text-transform: uppercase;
                color: #4c4c4c;
                letter-spacing: .9px;
            }

            .title {
                text-transform: uppercase;
            }

            .email, .phone {
                i {
                    margin-right: 0.5rem;
                }
            }

            .additional-info {
                font-size: 0.8rem;
                margin-top: 0.5rem;
            }
        }
    }
}

.behind-the-craft {
    .image-and-text-item {
        padding: 2rem;
        width: 22.5rem;
    }
}

.pn-about {
    h1 {
        font-family: "Playfair Display", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color: #4c4c4c;
        text-align: center;
        letter-spacing: 0.1rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}

.how-to-order {
    text-align: center;

    .page-title {
      padding: 1.5rem;
      text-transform: uppercase;
      color: #252525;
    }
    
    .section-title {
      padding: 1.5rem;
      font-size: 2rem;
      color: #252525;
    }

    .partner-title {
      padding: 1.5rem;  
      font-size: 2rem;
      color: #252525;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
    }

    .action-black {
        background-color: black;
        color: white;
        text-transform: uppercase;
        padding: 1rem;
        text-decoration: none;
        border-radius: 0.25rem;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    
        &:hover {
            background-color: #333;
        }
    }
}

.home {
    .title-way-order {
        font-family: "Playfair Display",serif;
        font-size: 2rem;
        line-height: 1.5rem;
        letter-spacing: .05em;
        margin-bottom: 1.875rem;
        font-weight: 600;
        color: #252525;
        text-align: center;
        text-decoration: none;
        padding-top: 2rem;
    }

    .title {
        font-size: 1.5rem;
        line-height: 1.175rem;
        margin-top: 2rem;
        color: #252525
    }

    .subtitle {
        font-size: 0.875rem;
        line-height: 1.2rem;
        color: #252525
    }

    .carousel-indicators {
        display: none;
    }

    .btn-primary {
        background-color: #252525;
    }
}

.pn-faq {
    .group-head {
        &,
        & a {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.75rem;
            text-decoration: underline;
            text-transform: capitalize;
            padding-left: 0.5rem;
            color: #000;
        }
    }

    .faq-title {
        font-family: "Playfair Display", serif;
        font-size: 1.75rem;
        color: #252525;
        padding-bottom: 2rem;
    }

    .faq.body a {
        text-decoration: none;
        color: #006bb4;
        font-weight: 500;
    }

    .question-head {
        font-size: 1rem;
        font-weight: 600;
        padding-top: 1.6em;
        padding-bottom: 1em;
        text-indent: 0.5rem;
        margin: 0;
        cursor: pointer;
    }

    .group-body {
        padding-bottom: 2rem;
    }
}

.pn-caring {
    h1 {
        font-size: 1.875rem;
        font-family: "Playfair Display", sans-serif;
        text-transform: capitalize;
		color: #252525;
		
    }

    p {
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75rem;
        letter-spacing: 0;
        color: #252525;
        padding-top: 1rem;
    }

    .berpadding {
        padding-left: 3rem;
        &,
        & p {
            padding-top: 1rem;
        }
    }
}

.navbar .navbar-nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;

    & a {
        align-items: center;
        display: flex;
        font-weight: 500;
        height: 100%;
        text-transform: uppercase;
        font-size: 1.25rem;
        color: #252525;

        & svg {
            display: none;
        }
    }
}

.top-nav {
    border-bottom: 0;
    display: flex;
	align-items: center;
	margin: 1.5rem;

  .top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
        & a {	
            font-family: 'Times New Roman', Times, serif;
            font-size: 3.5rem;
            letter-spacing: 0.5rem;
            color: #252525; 
			
        }
	}

	.emun-nav {
        margin-left: auto;
        list-style: none;
        display: flex;
        gap: 1rem;
  }
}

footer {
    background-color: #252525;
    color: #fff;
    display: flex;
	
    .quick-links {
        & .panel {
            background-color: #252525;
			
			& h2 {
				color: #fff;
				font-weight: 600;
			}

			& a {
				padding: 0.1rem;
			}

			& .ng-scope {
				line-height: normal;
			}
        }
    }
}


.breadcrumb-trail ol {
    border-bottom: 0;
    padding-bottom: 0;
}

main {
    margin-top: 0.5rem;
}